{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],

  "rules": {
    "strict": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ]
  },

  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },

  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.json"
  },

  "globals": {
    "global": false,
    "Promise": false
  }
}
